/**
* Author: Tautvydas Dikšas
* Date: 2021-04-26
* Path: src/views/Recipes/Recipes
*/
tr {
  border: 1px solid black;
}

.recipe-color {

}

.recipe-color:hover {
  border: 3px solid #da714a;
  cursor: pointer;
  // background-color: indianred;
}