/**
* Author: Tautvydas Dikšas
* Date: 2021-04-26
* Path: src/components/scss/Navigation
*/
nav {
  display: flex;
  background-color: #fff;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(143, 141, 141, 0.055), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  div {
    margin-top: auto;
    margin-bottom: auto;
    // display: flex;
    a {
      padding: 20px 20px;
      color: #da714a;
      text-decoration: none;
      &.router-link-exact-active {
        font-weight: bold;
        color: #f0bb46;
      }
      &:hover:not(.router-link-exact-active) {
        background-color: #f0bb46;
        color: #fff;
      }
    }
  }
  

  img {
    width: 3em;
    height: 3em;
  }
  // li a, .dropbtn {
  //   display: inline-block;
  //   color: white;
  //   text-align: center;
  //   padding: 14px 16px;
  //   text-decoration: none;
  // }
  
  // li a:hover, .dropdown:hover .dropbtn {
  //   background-color: red;
  // }
  
  // li.dropdown {
  //   display: inline-block;
  // }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    // min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 15px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  // .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
