/**
* Author: Tautvydas Dikšas
* Date: 2021-04-26
* Path: src/views/Exercises/Exercise
*/
tr {
  border: 1px solid black;
}

.exercise-color {

}

.exercise-color:hover {
  border: 3px solid #da714a;
  cursor: pointer;
  // background-color: indianred;
}